/* 0 - html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}
/* - base */

body {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    font-family: Arial, sans-serif;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
}

#wrapper {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

#bg-grey {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    background-color: #ededed;
}

#bg-white {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    left: 0;
    background-color: #fff;
}

@-webkit-keyframes animBg-grey {
    0% {
        opacity: 0;
        top: -50%;
    }
    100% {
        opacity: 1;
        top: 0%;
    }
}

@keyframes animBg-grey {
    0% {
        top: -50%;
    }
    100% {
        opacity: 1;
        top: 0%;
    }
}

@-webkit-keyframes animBg-white {
    0% {
        top: 150%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

@keyframes animBg-white {
    0% {
        top: 150%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

.animBG-grey {
    -webkit-animation: animBg-grey 1s linear both;
    animation: animBg-grey 1s linear both;
}

.animBG-white {
    -webkit-animation: animBg-white 1s linear both;
    animation: animBg-white 1s linear both;
}

#logo {
    overflow: hidden;
    position: absolute;
    width: 23.4%;
    height: 5.7%;
    left: 7.8%;
    top: 5.2%;
    opacity: 0;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

@-webkit-keyframes animLogo {
    0% {
        opacity: 0;
        top: -20%;
    }
    100% {
        opacity: 1;
        top: 5.2%;
    }
}

@keyframes animLogo {
    0% {
        opacity: 0;
        top: -20%;
    }
    100% {
        opacity: 1;
        top: 5.2%;
    }
}

.logoAnim {
    -webkit-animation: animLogo 1s linear both;
    animation: animLogo 1s linear both;
}

#baseline {
    overflow: hidden;
    position: absolute;
    width: 45%;
    height: 11%;
    left: 50%;
    top: 16.7%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../img/baseline.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.animBaseline {
    -webkit-animation: animBaseline 1s linear both;
    animation: animBaseline 1s linear both;
}

@-webkit-keyframes animBaseline {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes animBaseline {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#slider360 {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    height: 50%;
    top: 35%;
    left: 50%;
    transition: all 0.5s linear;
}

.animSlider {
    -webkit-animation: animSlider 1s linear both;
    animation: animSlider 1s linear both;
}

@-webkit-keyframes animSlider {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50%)scale(0.1);
        transform: translateX(-50%)scale(0.1);
    }
    20% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translateX(-50%)scale(1.1);
        transform: translateX(-50%)scale(1.1);
    }
    100% {
        opacity: 1;
        left: 50%;
        -webkit-transform: translateX(-50%)scale(1);
        transform: translateX(-50%)scale(1);
    }
}

@keyframes animSlider {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-50%)scale(0.1);
        transform: translateX(-50%)scale(0.1);
    }
    20% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translateX(-50%)scale(1.1);
        transform: translateX(-50%)scale(1.1);
    }
    100% {
        opacity: 1;
        left: 50%;
        -webkit-transform: translateX(-50%)scale(1);
        transform: translateX(-50%)scale(1);
    }
}

#slider360 img {
    overflow: hidden;
    position: absolute;
    max-width: 85%;
    width: auto;
    height: 50%;
    left: 50%;
    top: 0%;
    margin-top: auto;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.current-image {
    opacity: 1;
    visibility: visible;
    width: 100%;
}

.previous-image {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

#slide-picto {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 51.6%;
    height: 10.6%;
    left: 50%;
    top: 65.7%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../img/slide-picto.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#shadow {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 93.1%;
    height: 22.3%;
    left: 50%;
    top: 56.7%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../img/shadow.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#CTA {
    overflow: hidden;
    position: absolute;
    width: 47.2%;
    height: 7.8%;
    left: 50%;
    bottom: 5.2%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../img/CTA.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.animCTA {
    -webkit-animation: animCTA 0.3s linear both;
    animation: animCTA 0.3s linear both;
}

@-webkit-keyframes animCTA {
    0% {
        opacity: 0;
        bottom: -5.2%;
    }
    100% {
        opacity: 1;
        bottom: 5.2%;
    }
}

@keyframes animCTA {
    0% {
        opacity: 0;
        bottom: -5.2%;
    }
    100% {
        opacity: 1;
        bottom: 5.2%;
    }
}
/* format */

@media screen and (orientation: landscape) {}

@media only screen and (orientation: portrait) {}
/* 1 - preloader */

#acf-loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    /*line-height:470px;*/
    
    text-align: center;
}

#acf-loader span {
    display: block;
    -webkit-animation: bounce 3s infinite ease-in-out;
    animation: bounce 3s infinite ease-in-out;
}

#spiner {
    position: relative;
    margin: 0 auto;
    height: 35px;
    width: 35px;
    border-top: 4px solid lightgrey;
    border-left: 4px solid orange;
    border-bottom: 4px solid lightgrey;
    border-right: 4px solid orange;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    -webkit-animation: rotate 0.8s infinite linear;
    animation: rotate 0.8s infinite linear;
}

.landscapeMode #imagesLoaderContainer {
    position: absolute;
    margin: 25% 48%;
    vertical-align: top;
}

#imagesLoaderContainer {
    position: absolute;
    margin: 45% 48%;
    vertical-align: top;
}
/* loader css motion */

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        -webkit-transform: scale(0.9);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
/* 2 - helpers */

.hide {
    display: none;
}

.visible {
    display: block;
}

.motion {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.toggleScale {
    -webkit-animation-name: toggleScale;
    animation-name: toggleScale;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@-webkit-keyframes toggleScale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes toggleScale {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@-webkit-keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInLeft {
    -webkit-animation-name: bounceInLeft;
    animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    0%, 60%, 75%, 90%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }
    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }
    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounceInRight {
    -webkit-animation-name: bounceInRight;
    animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

@keyframes bounceOutRight {
    20% {
        opacity: 1;
        -webkit-transform: translate3d(-20px, 0, 0);
        transform: translate3d(-20px, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(2000px, 0, 0);
        transform: translate3d(2000px, 0, 0);
    }
}

.bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
}
